
*.tlog

*.log

*.cmake

*.depend

*.filters

*.db

Build/CMakeCache\.txt

Build/CMakeFiles/3\.8\.2/CMakeDetermineCompilerABI_C\.bin

Build/CMakeFiles/3\.8\.2/CMakeDetermineCompilerABI_CXX\.bin

Build/CMakeFiles/generate\.stamp\.list

Build/CMakeFiles/3\.8\.2/CompilerIdC/CompilerIdC\.exe

Build/CMakeFiles/3\.8\.2/CompilerIdC/CompilerIdC\.vcxproj

Build/CMakeFiles/3\.8\.2/CompilerIdC/Debug/CMakeCCompilerId\.obj

Build/CMakeFiles/3\.8\.2/CompilerIdCXX/CMakeCXXCompilerId\.cpp

Build/CMakeFiles/3\.8\.2/CompilerIdCXX/CompilerIdCXX\.exe

Build/CMakeFiles/3\.8\.2/CompilerIdCXX/CompilerIdCXX\.vcxproj

Build/CMakeFiles/3\.8\.2/CompilerIdCXX/Debug/CMakeCXXCompilerId\.obj

Build/CMakeFiles/a9161919380964f7c90ce371de323c4e/generate\.stamp\.rule

Build/CMakeFiles/cmake\.check_cache

Build/CMakeFiles/feature_tests\.bin

Build/CMakeFiles/generate\.stamp

Build/CMakeFiles/TargetDirectories\.txt

Build/Debug/ETWLibExample\.ilk

*.pdb
